Options +Indexes
Options +FollowSymLinks 

# Path Handling
RewriteEngine on

# Change this line to match the location of your Jam installation
RewriteRule .* - [E=installpath:/jam/] 

# Requests for assets/ try app/assets/ and engine/assets/ (in that order)
RewriteCond %{DOCUMENT_ROOT}%{ENV:installpath}app/assets/$1 -f
RewriteRule ^assets/(.*)$ app/assets/$1 [L]
RewriteCond %{DOCUMENT_ROOT}%{ENV:installpath}engine/assets/$1 -f
RewriteRule ^assets/(.*)$ engine/assets/$1 [L]

# Any other request is handled by the bootstrap script
RewriteCond %{ENV:REDIRECT_STATUS} !200
RewriteRule ^.*$ bootstrap.php
