body {
	font-size: 11px;
	line-height: 20px;
	color: #333;
	background-color: white;
	font-family: Helvetica, Arial, sans-serif;
	margin: 10px 20px 0 20px;
}

input, select, option, textarea {
	font-family: inherit;
}

div.clear {
	clear: both;
	height: 0;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
}

strong {
	font-weight: bold;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 0 1em 0;
	padding: 0;
}

code {
	display: block;
	background-color: #eee;
	padding: 8px 16px;
	margin: 10px 0;
}

div.confirm, p.message, p.error, p.errorMissing, p.errorInvalid, p.errorFileUpload {
	padding: 10px 0;
	background: url("lined.png") top left repeat-x;
	width: 570px;
	margin-bottom: 12px;
	float: left;
	font-size: 15px;
	color: #d10;
}

p.errorInvalid {
	background-color: #eee;
}

div.confirm form {
	margin: 8px 0 5px;
	float: right;
}

div.confirm input.submit {
	margin: 0 0 0 10px;
	float: left;
	font-size: 11px;
	font-weight: bold;
}

/* Titles
   --------------------------------------------------
*/

h1 {
	font-size: 15px;
	font-weight: bold;
	margin: 17px 0 50px 0;
}

h2 {
	font-weight: bold;
}

/* Top links
   --------------------------------------------------
*/

ul#toplinks {
	position: absolute;
	top: 10px;
	right: 20px;
}

ul#toplinks li:first-child {
	border: 0;
}

ul#toplinks li {
	float: left;
	margin-left: 12px;
	border-left: 1px solid #eee;
	padding: 6px 0 6px 12px;
}

ul#toplinks a {
	border: 0;
	font-weight: bold;
}

ul#toplinks a:hover {
	color: #d10;
}

/* Menu
   --------------------------------------------------
*/

ul#menu {
	float: left;
	width: 160px;
}

ul#menu a {
	font-size: 15px;
	color: #aaa;
	display: block;
	padding: 4px 10px;
	margin-left: -10px;
}

ul#menu a:hover {
	background-color: #d10;
	color: white;
}

/* Body
   --------------------------------------------------
*/

div#body {
	float: left;
	margin: 0 0 60px 30px;
}

p.addItem {
	font-size: 125%;
}

a.button, ul.actions a, input.submit {
	font-size: 11px;
	font-weight: bold;
	padding: 4px 12px;
	border: none;
	color: white;
	background-color: #333;
	display: block;
	cursor: pointer;
}

a.button {
	clear: both;
	float: left;
	margin-bottom: 20px;
}

a.button:hover, ul.actions a:hover, input.submit:hover {
	background-color: #d10;
}

/* Item actions
   --------------------------------------------------
*/

ul.actions {
	float: right;
	margin: 20px 0 32px;
	text-align: right;
}

ul.actions a {
	margin-left: 10px;
}

ul.actions li a + li a {
	background-color: gray;
}

/* Lists
   --------------------------------------------------
*/

ul.items {
	clear: both;
	width: 380px;
}

ul.items li {
	list-style: none;
}

ul.items li a {
	display: block;
	padding: 3px 10px;
	font-weight: bold;
	border-bottom: 1px solid #eee;
}

ul.items li a:hover {
	background-color: #d10;
	color: white;
}

/* Image lists
   --------------------------------------------------
*/

ul.images a {
	float: left;
	margin: 0 10px 10px 0;
	color: #eee;
	border: 1px solid;
}

ul.images a:hover {
	color: #d10;
}

ul.images img {
	display: block;
	width: 100px;
	height: 100px;
}

/* Tables
   --------------------------------------------------
*/

p.itemCount {
	font-size: 90%;
	color: #acacb6;
	margin: 6px 0;
	padding: 0;
}

table {
	border-spacing: 0;
}

th, td {
	padding-right: 20px;
}

td {
	border-bottom: 1px solid #eee;
}

th {
	font-weight: bold;
	border-bottom: 1px solid #999;
}

/* Translation
   --------------------------------------------------
*/

dl#translate_original {
	width: 540px;
	background-color: #eee;
	padding: 10px 15px;
	margin-bottom: 10px;
}

dl#translate_original dt {
	font-weight: normal;
	color: #aaa;
	float: left;
	width: 145px;
	margin-right: 30px;
	height: 20px;
	overflow: hidden;
}

dl#translate_original dd {
	margin: 0;
	color: #666;
	padding-left: 175px;
}

/* Forms
   --------------------------------------------------
*/

form {
	clear: both;
}

div.actions {
	width: 570px;
	margin-bottom: 16px;
	text-align: right;
}

form > div {
	width: 570px;
	padding: 5px 0;
	border-bottom: 1px solid #eee;
}

form div.missing {
	color: #d10;
}

form div.invalid {
	color: #eee;
}

form label {
	display: block;
	font-weight: bold;	
	float: left;
	width: 160px;
	margin-right: 30px;
	height: 20px;
	overflow: hidden;
}

form div div {
	padding-left: 190px;
}

form div div p {
	margin-bottom: 3px;
	color: #999;
}

form div div p img {
	position: relative;
	top: 2px;
	margin-right: 3px;
}

form textarea {
	width: 376px;
}

form input.submit {
	line-height: 20px;
	margin: 8px 0 0 190px;
}

form fieldset {
	padding: 0;
	border: 0;
}

form span.disabled {
	color: #eee;
}

span.fileDeleteCheckbox {
	float: right;
}

a.thumbnail {
	display: block;
	border: 1px;
	margin-bottom: 8px;
}

a.thumbnail img {
	display: block;
}

/* Menu module */

ul.menu ul {
	margin-left: 20px;
}